
<br/>
<div class="jumbotron">
  <p class="text-primary" style="font-size:400%"><strong>RedPill</strong></p>
  <p class="lead text-primary"><em>RedPill is an analytics service built to track events on websites.</em></p>
  
  <p class="text-primary">
  <%= link_to "Sign In", new_user_session_path, class: 'btn btn-primary' %> 
  <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary' %> 
  </p>
  

