.field {
  font-family: Arial;
  margin: auto;
  font-size: 20px;
  text-align: center;
  background: #818281;
}
.actions {
  margin: 10px 0px 10px 0px;
  text-align: center;
}
.log {
  font-family: arial, serif;
  font-size: 50px;
}